.suggestion.border.rounded.p-3.mb-4 {
    margin-top: 4%;
    width: 55%;
    height: 130px;

}

.suggestion.form-control {
    margin-top: 3%;
    width: 55%;
    background-color: black;
    color: #57FED5;
    height: 80px;
    padding: 0px;
}


h2 {
    margin-top: 3%;
    font-size: 40px;
    font-family: Roboto Mono;
}

.box-text {
font-family: Roboto Mono;
font-weight: lighter;
font-size: 22px;
line-height: 40px;
display: flex;
align-items: center;
text-align: center;
}

.suggestion-button {
    margin-left:  70%;
}
