::placeholder {
    font-size: 1.2em;
 
  }

  img {
    margin: auto;
    width: 30%;
    padding: 15px;
  }


  .border.rounded.p-3.mb-4 {
    border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    border: 0px solid #000000;
  }

body {
  background-color: #e2fcff;
}
 