::placeholder {
    font-size: 16px;
    font-family: monospace;
    color: white;
  }

  img {
    margin: auto;
    width: 30%;
    padding: 15px;
  }

  h1 {
    margin: auto;
    color: #37006d;
    font-size: 56px;
  }


  .border.rounded.p-3.mb-4 {
    border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    border: 0px solid #000000;
    background-color: #ffffff;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10+ and Edge */
    user-select: none; /* Standard syntax */
  }

  body {
    background-color: #e2fcff;
    font-family: monospace;
    font-size: 16px;
  }
 
  .btn.btn-light {
    background-color: #eda5ff;
    color: black;
  }

  .form-control, .form-control:focus {
    border: none;
    box-shadow: none;
    outline: none;
    outline-offset: 0px;
  }


nav {
  height: 120px;
  box-shadow: none;
}

nav .brand-logo { 
font-style: normal;
font-weight: normal;
font-size: 60px;
line-height: 84px;
display: flex;
align-items: center;
text-align: center;
color: #37006D;
margin-top: 20px;
background-color: rgba(0, 0, 0, 0) !important;
text-decoration: none;
}

.nav-wrapper {
  background-color: #57FED5;
}

.btn.btn-light {
  box-shadow: none;
  font-family: monospace;
}

.form-control.p-3.mb-3 {
  font-family: monospace
}