::placeholder {
    font-size: 16px;
    color: white;
  }

  img {
    margin: auto;
    width: 30%;
    padding: 15px;
  }

  h1 {
    margin: auto;
    color: #37006d;
    font-size: 56px;
  }


  .border.rounded.p-3.mb-4 {
    border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    border: 0px solid #000000;
    background-color: #ffffff;
  }

  body {
    background-color: #e2fcff;
    font-family: monospace;
    font-size: 16px;
  }
 
  .btn.btn-light {
    background-color: #eda5ff;
  }

  .form-control, .form-control:focus {
    border: none;
    box-shadow: none;
    outline: none;
    outline-offset: 0px;
  }